@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.attribution {
  background-color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

*, body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
}

main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-color: #674baf;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0rem 2rem;
  gap: 50px;
}

main .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

main .left-side .logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 50%;
}

main .left-side .mockups {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
}

main .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

main .right-side h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: white;
}

main .right-side p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16.5px;
  text-align: center;
  color: white;
}

main .right-side .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16.5px;
  text-align: center;
  background-color: white;
  color: #674baf;
  width: 70%;
  border-radius: 100px;
  border: solid white;
  padding: 5px;
  text-decoration: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

main .right-side .button:hover {
  color: white;
  background-color: #e882e8;
  border: solid #e882e8;
}

main .right-side .social-media {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .right-side .social-media a {
  background-color: transparent;
  width: 36px;
  height: 36px;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 7px;
}

main .right-side .social-media a:hover {
  border: 2px solid #e882e8;
}

main .right-side .social-media i {
  padding: 9px 9px;
  font-size: 20px;
  color: white;
}

main .right-side .social-media i:hover {
  color: #e882e8;
  background-color: transparent;
}

@media (min-width: 426px) {
  body {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main {
    max-width: 768px;
    height: auto;
    padding: 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1440px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3%;
    background-color: black;
  }
  main {
    max-width: 1440px;
    margin: 0rem;
    padding: 0rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    background-image: url(./images/bg-desktop.svg);
    background-size: contain;
    max-height: 100vh;
  }
  main .left-side {
    margin: 4rem;
  }
  main .left-side .logo {
    width: 35%;
  }
  main .left-side .mockups {
    margin-top: 3rem;
    width: 135%;
  }
  main .right-side {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0rem 0rem 0rem 7rem;
  }
  main .right-side h1 {
    text-align: left;
    font-size: 45px;
  }
  main .right-side p {
    text-align: left;
    font-size: 20px;
  }
  main .right-side .button {
    width: 35%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0.8rem 0rem;
    font-size: 20px;
  }
  main .right-side .social-media {
    position: absolute;
    top: 150%;
    left: 70%;
  }
  main .right-side .social-media a {
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */